body{
     font-family: 'Quicksand', sans-serif;
}
#header, #footer, button{
    font-family: 'Raleway', sans-serif;
}
span img{
    height: .6em;
}
h1, h2{
    font-family: raleway;
    font-weight: bold;
}
#header{
    background-color: black;
    display: flex;
    padding: 1.5em;
    gap: 1.5em;
    position: fixed;
    width: 100%;   
}
#logo{
    height: 1.5em;
    margin-right: auto;
}
a{
   text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}


#page_con{
    font-size: clamp(14px, 1.2vw, 20px);
}


#slice_1{
    background: -webkit-radial-gradient(black 20%, transparent); 
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
video{   
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
#slice_1 > div{
    width: min(28em, 40%);
    text-align: right;
}
h1{
    font-size: 2.3em; 
}

#slice_1 button{
    padding: .9em 1em;
    margin-top: 1em;
    background: none;
    border-radius: .5em;
    font-size: .9em;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    transition: .1s ease-in;
}
#slice_1 button:hover{
    background: white;
    color: black;   
}
#img{
    height: 17em;
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.7), transparent);
}


#slice_2{
    background: -webkit-linear-gradient(white 20%, black 90%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    padding: 0 1em;
    line-height: 1.1;
    font-size: 2.5em;    
    text-align: center; 
}
#info-box_con{
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    gap: 1.2em;
}
.info-box{
    width: min(320px, 22%);
    padding: 2.5em 1em;
    background: black;
    color: white;
    font-weight: 500;
    font-size: max(1.1em, 18px);
/*     font-size: 21px; */
    text-align: center;
    transition: .5s ease-in-out; 
}
.info-box:hover{
    transform: scale(1.05);
    transition: .5s ease-in-out;
}
.info-box p{
    height: 4.5em;
}
.icons{
    position: relative;
    width: min-content;
    margin: 0 auto;
}
.icons img{
    height: 6em;
    transition: .5s ease-in-out, opacity .5s linear;
}
.icon2{
    position: absolute;
    left: 0;
    right: 0;  
    opacity: 0;
}
.info-box:hover .icon1, .info-box:hover .icon2{
    height: 7em;
    -webkit-transition: .5s ease-in-out, opacity 2s ease-in;
}
.info-box:hover .icon2{
    opacity: 1;
}

#slice_3{
    background: -webkit-linear-gradient(black, transparent 40%), url("images/wireframe.png") no-repeat fixed, black;
    background-size: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#quote_con{
    width: min(1150px, 75%);
}
#quote-text{
    font-size: 2em;
    font-style: italic;
}
#quote-source{
    font-size: 1.5em;
    text-align: right;
    margin-top: 1em;
    margin-right: 1em;
    font-weight: bold;
}


#slice_4{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#CTA-con{
    background-color: black;
    color: white;
    width: min(1200px, 60%);
    padding: 4em;
    border-radius: 1em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
#CTA-con > p{
    font-size: 1.5em;
    line-height: 1.1;
    text-align: center;
}
#CTA-con button{
    background: none;
    border: 1px solid white;
    border-radius: .5em;
    color: white;
    font-weight: bold;
    padding: .8em 1em;
    font-size: 1em;
    z-index: 2;
}
#CTA-con button:hover{
    color: white;
    background: red;
    border-color: red;
}

#button-background{
    background: url("images/giveusyoursoul.svg"), black;
    background-position: 10px -10px; 
    height: 100vh;
    position: fixed;
    inset: 0 0 0 0;
    animation-name: background-anim;
    animation-duration: .3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    font-size: 10px; /* this controls the intensity of the shake btw */
}
@keyframes background-anim{
    0%{
        background-position: -1.4em -1.2em;
    }
    20%{
        background-position: 1.2em -1em;
    }
    55%{
        background-position: -1.2em 1.6em;
    }
    80%{
        background-position: 1em 1.4em;
    }
    100%{
        background-position: -1.4em -1.2em;
    }
}

#footer{
    background-color: black;
    color: white;
    text-align: center;
/*     font-size: 16px; */
    padding: .5em 0;
}