
@media screen and (max-width: 890px){
  #intro_con{
    width: 90%;
  }
  #intro-text{
    flex: 2 1 55%;
    text-align: right;
}
  #img{
    flex: 1 2 50%; 
  }
}
@media screen and (max-width: 600px){
  #footer{
   padding: .8em 0 .8em 0;
  }
  #footer:after{
/*     content: "in collaboration with emerso-n"; */
    position: absolute;
/*     padding-left: .5em; */
/*     color: #272727; */
/*     transition: all 1s; */
    inset: 1.7em 0 0 0;
    line-height: 1em;
    margin: 0 auto;
    color: red;
  }
}
@media screen and (max-width: 550px){
  h1{
    white-space: normal;
  }
  #img{
    flex: 1 2 15%;
  }
  #logo{
    margin: 0 auto;
  }
  a{
    display: none;
  }
  h2{
    font-size: 2.3em;
  }
  #CTA-con{
    width: 85%;
  }
}


  @media screen and (max-width: 800px){
  
  
  #info-box_con{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 90%;
    margin: 0 auto;
  }
  .info-box{
    width: auto;
  }
  
}